@font-face {
  font-family: 'Roboto';
  src: url("fonts/RobotoCondensed-Regular") format("ttf");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

body {
  font-family: Roboto, serif;
  font-size: 16px;
  text-rendering: optimizeLegibility;
}
body * {
  box-sizing: border-box;
}
article {
	width: 16rem;
	height: auto;
	border: 1px solid #efefef;
}