@font-face {
  font-family: 'Roboto';
  src: url("fonts/RobotoCondensed-Regular") format("ttf");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

body {
  font-family: Roboto, serif;
  font-size: 16px;
  text-rendering: optimizeLegibility;
}
body * {
  box-sizing: border-box;
}
.hide {
  display: none;
}
.text-center {
  text-align: center;
}
.content_image-thumbnail {
  background-repeat: no-repeat;
}
.heading {
  font-size: 2rem;
  text-align: end;
  position: fixed;
  right: 10px;
  top: 10px;
}
.heading__welcome {
  margin-top: 0.1em;
}
.vertical-text {
  font-size: 1.75em;
}
.bottom-left {
  position: fixed;
  bottom: 20px;
  left: 5px;
  z-index: 99;
}
.slide__img-wrap,
.content_image-thumbnail::hover {
  cursor: pointer !important;
}
.content__close {
  z-index: 101;
}
.content__text {
  max-width: 800px !important;
}
.content_image-thumbnail {
  min-width: 200px;
  min-height: 160px;
  max-width: 200px;
  max-height: 160px;
  width: 200px;
  height: 160px;
  display: inline-block;
}
.content__close {
font-size: 4rem !important;
    z-index: 1500 !important;
    text-align: left !important;
    left: 40vh !important;
    top: 8vh;
}
.icon--longarrow {
    width: 4rem;
}
.content__images {
  display: inline-block;
  width: 800px;
  text-align: left;
}
.heading__welcome {
  font-size: 1.5em;
}
.content__item--current {
  background: black;
  z-index: 101;

}